{% extends "layout.html" %} 
{% block body %}
<!-- JavaScript to Get Location -->
<script>
  function getUserLocation()
  {
    if ("geolocation" in navigator) {
        navigator.geolocation.getCurrentPosition(
            function(position) {
                document.getElementById("latitude").value = position.coords.latitude;
                document.getElementById("longitude").value = position.coords.longitude;
            },
            function(error) {
                console.error("Error getting location:", error);
            }
        );
    } else {
        console.error("Geolocation is not supported by this browser.");
    }
  }
</script>

<div
  class="hero min-h-[70vh]"
  style="background-image: url(https://images.unsplash.com/photo-1617494532490-297fc0eb515e);">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Chena Thee!</h1>
      <p class="mb-5">
        Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
        quasi. In deleniti eaque aut repudiandae et a id nisi.
      </p>
      <button class="btn btn-primary" onclick="my_modal_1.showModal()">Get Started</button>
</div>

<div class="container mx-auto p-7">
    <h1>Python</h1>
        <button class="btn btn-error btn-lg w-full" onclick="my_modal_1.showModal()">🚨 Send SOS</button>
        <!-- Open the modal using ID.showModal() method -->
<dialog id="my_modal_1" class="modal">
  <div class="modal-box">
    <form action="POST">
      <select class="select select-primary w-full max-w my-4">
        <option>Medical</option>
        <option>Flood</option>
        <option>Other</option>
      </select>
      <input type="button" class="btn btn-warning btn-md w-full" onclick="getUserLocation()" value="Tap to send location!"/>
      <input type = "text" name="name" class="input input-bordered input-primary w-full max-w my-4">
    <div class="modal-action">
      <form method="dialog">
        <!-- if there is a button in form, it will close the modal -->
        <button class="btn btn-error btn-md w-full">🚨 Send SOS</button>
      </form>
    </div>
  </div>
</dialog>
        </div>
  
{% endblock %}
