{% extends "layout.html" %} 

{% block body %}
<form method="post" action="/register" class="container mx-auto p-7">
    <input type="text" name="name" placeholder="Name" class="input input-primary w-full max-w my-4">
    <input type="email" name="email" placeholder="Email" class="input input-primary w-full max-w my-4">
    <input type="password" name="password" placeholder="Password" class="input input-primary w-full max-w my-4">
    <button type="submit" class="btn btn-primary w-full max-w my-4">Register</button>
</form>
{% endblock %}